<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolChat - Регистрация</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
<header>
    <div class="bread-crums" style="display: none">
        <a href="/">Главная</a>
    </div>
</header>
<main class="gradient-back">
    <div>

    </div>
<footer class="container">
    {% for i in [('реклама', 'ads'), ('о на', 'about')]%}
    <a href="/{{i.1}}/" class="link">{{i.0}}</a>
    <p class="link">|</p>
    {% endfor %}
</footer>
<script src="../../static/js/registration.js"></script>
</body>
</html>