<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolChat - Регистрация</title>
     <link rel="stylesheet" href="../../static/css/style.css">

</head>
<body>
<header>
    <div class="bread-crums" style="display: none">
        <a href="/">Главная</a>
    </div>
</header>
<main class="gradient-back">
    <form class="slider container slider-small filter" method="POST">
        <div class="inputs">
            <div class="input-block" id="email_block">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="myEmail@volchat.ru">
                <p class="error" style="display: {{ login_error }}">Пользователь с таким Email уже существует</p>
                <div class="slise">
                    <p><button class="text smaller-text" id="toTel">Зарегистрироваться по телефону</button></p>
                </div>
            </div>

            <div class="input-block" id="tel_block" style="display: none">
                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" placeholder="+79809809080">
                <p class="error" style="display: {{ login_error }}">Пользователь с таким телефоном уже существуетй</p>
                <div class="slise">
                    <p><button id="toEmail" class="text smaller-text">Зарегистрироваться по Email</button></p>
                </div>
            </div>

            <div class="input-block"><label for="password">Пароль</label>
                <input type="password" name="password" id="password" required  maxlength="30" minlength="8">
            </div>
            <div class="input-block">
                <label for="login">Ваш логин</label>
                <input type="text" id="login" name="public-login" required placeholder="myName" minlength="3" maxlength="10">
            </div>
            <p class="error" style="display: {{ login_error }}">Логин не коректный</p>
            <p class="text" id="public-login-view">-Так выглядит ваш логин-</p>
        </div>
        <button class="button  button-form" type="submit">Зарегистрироваться</button>
    </form>
</main>
<footer class="container">
    {% for i in [('реклама', 'ads'), ('о на', 'about')]%}
    <a href="/{{i.1}}/" class="link">{{i.0}}</a>
    <p class="link">|</p>
    {% endfor %}
</footer>
<script src="../../static/js/registration.js"></script>
</body>
</html>