<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <title>VolChat - Кайфовый мессенджер</title>
</head>
<body>
<main>
    <div class="start-page page" id="start-page">
        <div class="slider container ">
            <div class="gradient-image">
                <div class="slider-image"></div>
            </div>
            <div class="slider-content">
                <h2 class="super-title title">VolChat<br> общайся как по кайфу</h2>
                <p class="title">Начни сейчас
                </p>
                <!--            <a href="/auth/" class="button">Войти</a>-->
                <button  id="auth-btn" class="button">Войти</button>
                <div class="slise">
                    <p class="title">или</p>
                </div>
                <!--          href="/registaration/"  -->
                <button  id="register-btn" class="button">Зарегистрироваться</button>
                <div class="slise">
                    <p><a class="text smaller-text" href="">Регистрируя вы соглашаетесь с нашей политикой</a></p>
                </div>
            </div>
        </div>

        <div class="slider container slider-small filter absolut" style="display: none" id="register" >
            <div class="x">
                <div class="input-block"><button class="close button" id="close-register"><-</button></div>
            </div>
            <div class="inputs">
                <div class="input-block">
                    <label for="login">Ваш Имя пользователя (Логин) *</label>
                    <input type="text" id="login" name="public-login" required placeholder="myName" minlength="3" maxlength="10">
                    <p class="error" id="reg-error" style="display: none">Пользователь с таким Именем уже есть</p>
                </div>

                <div class="input-block"><label for="password">Пароль *</label>
                    <input type="password" name="password" id="password" required  maxlength="30" minlength="8">
                </div>
                <div class="input-block"><label for="password-repeat">Повтор пароля *</label>
                    <input type="password" name="password" id="password-repeat" required  maxlength="30" minlength="8">
                    <p class="error" id='password-error' style="display: none">Пароли не совпадают</p>
                </div>

            </div>
            <button class="button  button-form button-registation" type="submit">Зарегистрироваться</button>
        </div>
<!--        вход -->
        <div class="slider container slider-small filter absolut" style="display: none" id='autorisi' >
            <div class="x">
                <div class="input-block"><button class="close button" id="close_auth"><-</button></div>
            </div>
            <div class="inputs">
                <div class="input-block" id="email_block_auth">
                    <label for="email_auth">Логин</label>
                    <input type="text" id="email_auth" name="email" class="email" required placeholder="myEmail@volchat.ru">
                    <p class="error" id="auth_error" style="display: none">Нет такого пользователя</p>
                </div>
                <div class="input-block"><label for="password_auth">Пароль</label>
                    <input type="password" name="password" class="password" id="password_auth" required  maxlength="30" minlength="8">
                    <p class="error" id="auth_pass_error" style="display: none">Не правильный Пароль</p>
                    <div class="slise">
                        <p><a class="text smaller-text" id="toPass" href="/chenge_password/">Забыли Пароль ?</a></p>
                    </div>
                </div>
            </div>
            <button class="button  button-form button-auth" type="button" id="submin-x-auth">Войти</button>
        </div>
    </div>
    <div class="chat-page page" id="chat-page">
        <div class="chats-panel" id="contacts">
            <div class="chat-panel-element">
                <h2 class="title">Чаты</h2>
            </div>
            <!--    active-chat-->

        </div>
        <div class="right-panel" id="chat-panel" >
            <div class="chat-title-panel">
                <button class="chat-panel-element">
                    <img src="../../static/image/logo.png" alt="Волчат">
                    <h2 class="title" id="name">Мишаня</h2>

                </button>
            </div>
            <div class="chats-list" id="messages-list">
                <div class="messages" id="messages">
                    <div class="message left">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">Привет, как дела ?</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>
                    <div class="message right">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">Привет, как дела ?</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>
                    <div class="message left">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">Привет, как дела ?</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>
                    <div class="message left">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">Привет, как дела ?</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>
                    <div class="message left">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">Привет, как дела ?</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>
                    <div class="message left">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">123123</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>
                    <div class="message left">
                        <img class="message-img" src="../../static/image/logo.png" alt="Волчат">
                        <div class="message-content">
                            <p class="text">123123</p>
                            <p class="text time">12:00</p>
                        </div>
                    </div>

                </div>
                <div class="message-input">
                    <button class="close button input-type-button">+</button>

                    <input type="text" id="send-message" placeholder="Введите сообщение...">
                    <button class="close button input-type-button" id="send-button">^</button>
                </div>
            </div>
        </div>
        <div class="right-panel absolut-messages" id="start-panel">
            <div>
                <img src="../../static/image/hand-white.png" alt="Рука указывает влево">
                <h2 class="title white"> Выберите чат чтобы начать общение <br> Или добавьте новый</h2>
            </div>
        </div>



        <!--       тут -->
        <div class="chats-panel chats-panel-overlay" id="new-chat-panel" style="display: none;">

            <!-- Шапка: кнопка назад и поиск -->
            <div class="search-chat-header">
                <button onclick="closeNewChat()" class="chat-panel-element btn-back close button">
                    <-
                </button>
                <input type="text" id="search-user" class="input-search" placeholder="Найти по нику...">
            </div>

            <!-- Блок ошибки -->
            <div class="input-block">
                <p class="error" id="user-not-found" style="text-align: center;">Такого пользователя не существует</p>
            </div>

            <!-- Заголовок списка -->
            <div class="chat-panel-element contacts-title">
                <h2 class="title">Известные контакты</h2>
            </div>

            <!-- Список известных контактов -->


        </div>
        <!-- тут -->


    </div>

</main>
<footer class="container" id="footer">
    {% for i in [('реклама', 'ads'), ('о на', 'about')]%}
    <a href="/{{i.1}}/" class="link">{{i.0}}</a>
    <p class="link">|</p>
    {% endfor %}
</footer>
<script src="../static/js/index.js"></script>
</body>
</html>
